/*wrapper to center inline block div.*/
/*text align centers an interior div too. must override in .about for inner text*/
.wrap {
    text-align: center;
    width: 100%;
}
/*container set to inline block to contein image*/
.about {
    display: inline-block;
    min-height: 200px;
    text-align: left;
    padding: 0px 20px;
    border-left: 5px solid #e7971f;
    border-right: 5px solid #e7971f;
}
/*image is contained within div*/
.about_img {
    height: 40%;
    width: 40%;
    object-fit: contain;
    float: left;
    padding: 0px 5px 5px 0px;
    margin: 0px 10px 0px 0px;
}

.divider {
    border-style: dashed;
    border-width: 1.25px;
    margin: 0 auto;
    padding: 0 auto;
    color: #1f4d11;
}

@media only screen and (min-width: 768px) {
    .divider {
        width: 80%;
    }

    .about {
        width: 70%;
        margin: 90px auto 150px auto;
    }
}

@media only screen and (max-width: 768px) {
    .divider {
        width: 90%;
    }

    .about {
        width: 80%;
        margin: 50px auto 120px auto;
    }
}