/*in Notes component*/
.blog-link {
    color: #1f4d11;
    text-align: right;
}

.blog-link:hover {
    color: #e9910e;
}

.notes {
    margin: 140px auto 40px auto;
    width: 60%;
    padding: 0px;
}

/*in Note component*/
/*make Link text black*/
.note-link {
    color: black;
}
/*make Link text stay black*/
.note-link:hover {
    color: black;
}

.note {
    background-color: #f2f2f2;
    padding: 10px 10px 5px 10px;
    margin-bottom: 20px;
    border: 1px dashed #e9910e;
}

.date {
    float: right;
    font-size: 14px;
    padding-left: 12px;
}

.note-title {
    font-size: 22px;
    font-weight: bold;
    /*ellipses after overflow of line*/
    text-overflow: ellipsis;
    overflow: hidden;
}

 /*pre-wrap preserves the whitespace from the textarea input*/
.note-body {
    white-space: pre-wrap;
    padding: 0px;
    margin: 5px 0px;
    font-size: 16px;
    /*ellipses after overflow with 5 lines of text*/
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
      
}

@media only screen and (min-width: 769px) {
    .notes {
        width: 70%;
    }

    .note-title {
        white-space: nowrap;
    }
}

@media only screen and (max-width: 768px) {
    .notes {
        width: 90%;
    }

    .note-title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical; 
    }
}