/*container for projects section*/
.projects {
    width: 80%;
    margin: 150px auto auto auto;
}

.projects-title {
    text-align: left;
    padding: 0px 0px 30px 3%;
}

/*div table*/
.projects-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}