/*each project is a table row*/
/*padding and margins do not work for table-rows*/
/*use a transparent border instead*/
.project {
    margin-bottom: 50px;
}
/*title*/
.project-title {
    margin-bottom: 5px;
}
/*the h5 tag for list of technologies*/
.using {
    margin-bottom: 2px;
    margin-top: 15px;
}
/*the p tag*/
.description {
    margin: 0px;
}

.repo-link {
    font-weight: bold;
    color: #1f4d11;
}

/*underline of title*/
.title-hr {
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
    width: 40%;
    margin: 0 auto 3px 0;
    color: #e7971f;
}